<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>hubkuro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/hubkuro/home.html</welcome-file>
    <welcome-file>/hubkuro/WebContent/upload.htm</welcome-file>
    <welcome-file>/hubkuro/WebContent/passet.html</welcome-file>    
  </welcome-file-list>
  <servlet>
  	<servlet-name>DownloadCj</servlet-name>
  	<servlet-class>DownloadConfirm.jsp</servlet-class>
  
  </servlet>

  <servlet>
  	<servlet-name>passInput</servlet-name>
  	<servlet-class>/hubkuro/WebContent/passInput.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>subC</servlet-name>
  	<servlet-class>submitCompleted.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>Confirm</servlet-name>
  	<servlet-class>Confirm.html</servlet-class>
  
  </servlet>

  <servlet>

  	<servlet-name>uploadh</servlet-name>
  	<servlet-class>upload.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>passSeth</servlet-name>
  	<servlet-class>/hubkuro/WebContent/passset.html</servlet-class>
  
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<servlet-class>/hubkuro/home.html</servlet-class>
  
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/</url-pattern>
   </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>passInput</servlet-name>
  	<url-pattern>/download/pass</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>subC</servlet-name>
  	<url-pattern>/upload/submit/completed</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Confirm</servlet-name>
  	<url-pattern>/upload/Confirm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>

  <servlet-name>uploadh</servlet-name>
  <url-pattern>/upload</url-pattern>

  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>passSeth</servlet-name>
  <url-pattern>/upload/pass</url-pattern>
  </servlet-mapping>
  
</web-app>