<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>hubkuro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.html</welcome-file>
    <welcome-file>upload.htm</welcome-file>
    <welcome-file>passet.html</welcome-file>    
  </welcome-file-list>
  <servlet>

  	<servlet-name>PhotoC</servlet-name>
  	<servlet-class>upload.PhotoChoose</servlet-class>


  </servlet>
  <servlet>

  	<servlet-name>submitC</servlet-name>
  	<servlet-class>upload.submitConfirm</servlet-class>


  </servlet>
  
  <servlet>

  	<servlet-name>FileS</servlet-name>
  	<servlet-class>upload.FileSave</servlet-class>

  </servlet>
  
  <servlet>

  	<servlet-name>PassS</servlet-name>
  	<servlet-class>download.PassSearch</servlet-class>

  </servlet>
  
  <servlet>
  	<servlet-name>inboxC</servlet-name>
  	<servlet-class>download.inboxCompleted</servlet-class>
  
  </servlet>
  <servlet>
  	<servlet-name>DownloadCj</servlet-name>
  	<servlet-class>DownloadConfirm.jsp</servlet-class>
  
  </servlet>

  <servlet>
  	<servlet-name>passInput</servlet-name>
  	<servlet-class>passInput.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>subC</servlet-name>
  	<servlet-class>submitCompleted.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>Confirm</servlet-name>
  	<servlet-class>Confirm.html</servlet-class>
  
  </servlet>

  <servlet>

  	<servlet-name>uploadh</servlet-name>
  	<servlet-class>upload.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>passSeth</servlet-name>
  	<servlet-class>upload.html</servlet-class>
  
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<servlet-class>home.html</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>passApi</servlet-name>
  	<servlet-class>passConfirm</servlet-class>
  
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>FileS</servlet-name>
    <url-pattern>/upload/save</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>passInput</servlet-name>
  	<url-pattern>/download/pass</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>subC</servlet-name>
  	<url-pattern>/upload/submit/completed</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Confirm</servlet-name>
  	<url-pattern>/upload/Confirm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>PhotoC</servlet-name>
  	<url-pattern>/upload/photo</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>

  <servlet-name>submitC</servlet-name>
  <url-pattern>/upload/content/Confirm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>

  <servlet-name>PassS</servlet-name>
  <url-pattern>/download/pass/search</url-pattern>

  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>inboxC</servlet-name>
  <url-pattern>/download/Completed</url-pattern>
  
  </servlet-mapping>
  
  <servlet-mapping>

  <servlet-name>uploadh</servlet-name>
  <url-pattern>/upload</url-pattern>

  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>passSeth</servlet-name>
  <url-pattern>/upload/pass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>passApi</servlet-name>
  <url-pattern>/api/upload/pass/Confirm</url-pattern>
  </servlet-mapping>
  
</web-app>